    <!-- Jumbotron section -->
<div class="p-5 bg-body-secondary">
    <div class="container">
        <h1 class="display-6">Welcome to Mango Restaurant</h1>
        <p class="lead">Discover the delicious world of food with us.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Let's go</a>
    </div>
</div>

<!-- Featured dishes section -->
<div class="container-fluid py-5">
    <div class="container">
        <h2 class="text-center mb-5">Featured Dishes</h2>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <div class="card">
                    <img src="https://via.placeholder.com/350x200"
                         alt="Dish 1"
                         class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Dish 1</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                            ultrices lectus et augue vehicula, eu auctor velit facilisis.
                        </p>
                        <a href="#" class="btn btn-primary">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <div class="card">
                    <img src="https://via.placeholder.com/350x200"
                         alt="Dish 2"
                         class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Dish 2</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                            ultrices lectus et augue vehicula, eu auctor velit facilisis.
                        </p>
                        <a href="#" class="btn btn-primary">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <div class="card">
                    <img src="https://via.placeholder.com/350x200"
                         alt="Dish 3"
                         class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Dish 3</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                            ultrices lectus et augue vehicula, eu auctor velit facilisis.
                        </p>
                        <a href="#" class="btn btn-primary">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <div class="card">
                    <img src="https://via.placeholder.com/350x200"
                         alt="Dish 3"
                         class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Dish 4</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                            ultrices lectus et augue vehicula, eu auctor velit facilisis.
                        </p>
                        <a href="#" class="btn btn-primary">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
